* {
  font-family: 'Roboto', sans-serif;
}

#root>div {
  margin: 0 12%;

}

button {
  all: unset;
  cursor: pointer;
}


.header {
  background-color: #F6F6F7;
}

.container {
  position: relative;
  margin: 15px 10%;
  padding: 0 10% 0 10%;
}


.productContainer,
.productContainer_cart {
  display: flex;
}

.productContainerLeft,
.productContainerRight {
  flex: 50%;
}

h3 {
  font-weight: 500;
}

.price {
  font-size: small;
  font-weight: 800;
}

.addToCart {
  letter-spacing: 1px;
  margin: 20px 0;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 30px 10px 30px;
  border: 2px solid #222222;
}

.addToCart:hover {
  background-color: #222222;
  color: white;
}

.sizeSquare {
  color: #CCCCCC;
  margin-right: 5px;
  padding: 10px 14px;
  border: 1px solid #CCCCCC;
}

.active {
  border: 2px solid #222222;
  color: #222222;
}

.size {
  color: #888888;
  text-transform: uppercase;
}

.description {
  color: #888888;
  line-height: 25px;
}

.size>span:first-of-type {
  color: #C90000;
}

.selectSize {
  color: #222222 !important;
  margin-left: 5px;
}

.productContainerLeft>img {
  width: 75%;
}

/*add to cart button*/
.btn {
  padding: 10px 10px;
  color: #888888;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.show {
  display: block !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 240px;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #CCCCCC;
  background-color: white;
  top: 40px;
  z-index: 5;
  border-top: 80%;
}

.cart-items {
  height: 240px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.btnActive {
  background-color: white;
  color: #222222;
  border: 1px solid #CCCCCC;
  border-bottom: 0;
}

.cartPriceStyle {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Media query*/

@media only screen and (max-width: 600px) {
  #root>div {
    margin: 0 1%;
  }

  .productContainer {
    display: block;
  }

  .productImg {
    width: 100% !important;
  }

  .container {
    margin: 15px 0px;
    padding: 0;
  }


}